{% extends "base.html" %}
{% load thumbnail %}
{% load static from staticfiles %}

{% block title %}
	<title>{{ post.title }}</title>
	<meta name="title" content="{{ post.title }}">
	<meta name="description" content="{{ post.meta_description }}">
	<meta name="google" value="notranslate">
	<link rel="canonical" href="http://frasesdeamor.com.pe/{{ category.slug }}/{{ post.slug }}/">

	<!-- FACEBOOK -->
	<meta property="og:type" content="article">
	<meta property="og:site_name" content="FrasesDeAmor">
	<meta property="og:title" content="{{ post.title }}">
	<meta property="og:description" content="{{ post.meta_description }}">
	<meta property="og:url" content="http://frasesdeamor.com.pe/{{ category.slug }}/{{ post.slug }}">
	<meta property="og:image" content="{{ MEDIA_URL }}{{ post.opengraph }}">
	<meta property="og:image:width" content="1260">
	<meta property="og:image:height" content="630">

	<!-- TWITTER -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@frasesDamorr2">
	<meta name="twitter:title" content="{{ post.title }}">
	<meta name="twitter:description" content="{{ post.meta_description }}">
	<meta name="twitter:image" content="{{ MEDIA_URL }}{{ post.twitter_card }}">

	<!-- google+ -->
	<meta itemprop="name" content="{{ post.title }}">
	<meta itemprop="description" content="{{ post.meta_description }}">
	<meta itemprop="image" content="{{ MEDIA_URL }}{{ post.twitter_card }}">

	<link href="https://fonts.googleapis.com/css?family=Kalam:300,400" rel="stylesheet">
{% endblock title %}

{% block styles %}
	<style>
		.phrase__image {
			text-align: center;
			background: url("{% static 'img/background_phrase.png' %}") no-repeat center; 
			background-size: cover;

			color: #fff;
			font-size: 1em;
			max-width: 350px;
			max-height: 350px;

			height: 256px;
			font-weight: 100;

			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 2em;
			font-family: 'Kalam', cursive;
			line-height: 2;
		}

		@media (min-width: 370px) {
			.phrase__image {
				height: 311px;
			}
		}
		@media (min-width: 400px) {
			.phrase__image {
				height: 350px;
			}
		}
	</style>
{% endblock styles %}


{% block content %}
	<header class="menu">
		<div class="container">
			<div class="row between">
				<div class="menu__main">
					<span class="menu__logo"><a href="{% url 'main:home' %}">Frases de Amor</a></span>
				</div>

				<div class="topnav" id="myTopnav">
					{% for category in categories %}
						<a href="{% url 'main:category_detail' category.slug %}">{{ category.name }}</a>
					{% endfor %}
					<a href="javascript:void(0);" class="icon" id="icon" onclick="myFunction()">&#9776;</a>
				</div>
			</div>
		</div>
	</header>

	<section class="main_networks hidden main_networks_postdetail">
		<div class="container">
			<div class="row">
				<div class="networks_list column">
					<div class="row">
						<div class="fb-share-button" data-href="http://frasesdeamor.com.pe/{{ category.slug }}/{{ post.slug }}/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="frasesDamorr2" data-size="large" data-hashtags="FrasesDeAmor">Tweet</a>
						<div class="g-plus" data-action="share" data-height="30"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="main_page">
		<div class="container">
			<div class="row">
				<section class="left_side_detail">
					<div class="categories">
						<ul class="categories__list__detail">
							<li class="category__item">
								<a href="{% url 'main:home' %}">Inicio</a>
							</li>
							{% for category in categories %}
								<li class="category__item">
									<a href="{% url 'main:category_detail' category.slug %}">{{ category.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</section>
				<section class="main_side">
					<div class="article">
						<div class="container">
							<div>
								<div class="article__header border-bottom">
									<div class="article__title__wrap">
										<div class="article__category">
											<p>
												<a class="article__link" href="{% url 'main:home' %}">Frases de amor</a>
												<span class="article_text_secondary">></span>
												<a href="{% url 'main:category_detail' category.slug %}" class="article__link">{{ category.name }}</a>
											</p>
										</div>
										<div>
											<h1 class="article__title">{{ post.title }}</h1>
										</div>
									</div>
									<div class="row article__shares">
										<div class="fb-share-button" data-href="http://frasesdeamor.com.pe/{{ category.slug }}/{{ post.slug }}/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
										<a href="https://twitter.com/share" class="twitter-share-button" data-via="frasesDeamorr2" data-size="large" data-hashtags="FrasesDeAmor">Tweet</a>
										<div class="g-plus" data-action="share" data-height="30" data-width="120"></div>
									</div>
								</div>
								<div class="summary">
									<p>{{ post.summary|safe }}</p>
								</div>
								<div class="phrase_list">
								{% for phrase in phrases %}
									<div class="phrase">
										<div class="phrase__image">
											<p>{{ phrase.phrase }}</p>
										</div>
										<div class="phrase__author">
											<p>Autor:</p>
											<p class="author__name">{{ phrase.author.name }}</p>
										</div>
									</div>
								{% endfor %}
								</div>
								<div class="article_content">
									<h2>{{ post.content|safe }}</h2>
								</div>
							</div>
						</div>
					</div>

					<div class="post_related">
						<div class="container">
							<div class="post_related__row">
								{% for post in last_posts %}
									<div class="post_related__image__item">
										<div class="post_related__image">
											{% thumbnail post.image "140" crop="center" as im %}
												<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
											{% endthumbnail %}
										</div>
										<div class="image__item__title">
											<a href="{% url 'main:post_detail' post.category.slug post.slug %}">
												<p>{{ post.title }}</p>
											</a>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	<script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script async src="{% static 'js/home.js' %}?v1"></script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endblock scripts %}